<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Server</servlet-name>
		<servlet-class>serverPackage.ServerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Server</servlet-name>
		<url-pattern>/server</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ElapsedDescending</servlet-name>
		<servlet-class>serverPackage.ElapsedDescending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ElapsedDescending</servlet-name>
		<url-pattern>/elapseddescending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BibAscending</servlet-name>
		<servlet-class>serverPackage.BibAscending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BibAscending</servlet-name>
		<url-pattern>/bibascending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BibDescending</servlet-name>
		<servlet-class>serverPackage.BibDescending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BibDescending</servlet-name>
		<url-pattern>/bibdescending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StartAscending</servlet-name>
		<servlet-class>serverPackage.StartAscending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartAscending</servlet-name>
		<url-pattern>/startascending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StartDescending</servlet-name>
		<servlet-class>serverPackage.StartDescending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartDescending</servlet-name>
		<url-pattern>/startdescending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StopAscending</servlet-name>
		<servlet-class>serverPackage.StopAscending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StopAscending</servlet-name>
		<url-pattern>/stopascending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StopDescending</servlet-name>
		<servlet-class>serverPackage.StopDescending</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StopDescending</servlet-name>
		<url-pattern>/stopdescending</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
